name: Check changelog

on:
  push:
    branches-ignore:
      - main
      - push-action/** # Temporary branches created by CasperWA/push-protected@v2 action on release workflow
  pull_request:
    types: [ opened, reopened ]
  workflow_call:
    outputs:
      release-type:
        description: The release type extracted from changelog
        value: ${{ jobs.validate.outputs.release-type }}

jobs:
  validate:
    runs-on: [ ubuntu-latest ]
    outputs:
      release-type: ${{ steps.validate-changelog.outputs.release-type }}
    steps:
      - uses: actions/checkout@v4

      - name: Validate changelog
        id: validate-changelog
        uses: OpenTermsArchive/changelog-action/validate@v0.2.0
